@inherits LayoutComponentBase
@inject NavigationManager NavigationManager
@using Microsoft.AspNetCore.Components.Server.ProtectedBrowserStorage
@inject ProtectedLocalStorage BrowserStorage
@inject ProtectedSessionStorage SessionStorage

<PageTitle>SB.BlazorServer</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu/>
    </div>

    <main>
        <div class="top-row px-4">
            <a href="javascript:void(0);" @onclick="@(async () => await doLogout())">Log Out</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

@code {

    private async Task doLogout()
    {
        await BrowserStorage.DeleteAsync("authstring");
        await SessionStorage.DeleteAsync("authstring");
        NavigationManager.NavigateTo("/login");
    }

}